APP_ENV=production
APP_DEBUG=false
FRONTEND_URL=http://localhost:4200

# MongoDB connection
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/


MONGODB_DATABASE=fieldnote

# Excel integration will be added in version 2.

